{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-export-extensions",
    "styled-components",
    "transform-object-rest-spread"
  ]
}
