{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "react": "react",
          "react-dom": "react-dom"
        }
      }
    ]
  ]
}
